*{
    margin: 0;
}
.header-area{
    background-image: url(image/header-bg.png);
    height: 450px;
    background-repeat: repeat-x;
    

}
.header-text{
    width: 42%;
    float: left;
    padding: 2%;
    margin-left: 2%;
}
.header-img{
    width: 42%;
    float:left;
    padding: 2%;
    margin-left: 2%;
}
.header-img img{
    width: 600px;
}
.hello-part{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.name-part{
    font-family: 'Yellowtail', cursive;   
    font-size: 60px;
    font-weight: 500;
    color:#EC4C7A;
    margin-bottom: 40px;
}
.header-text p{
    font-family: 'PT Sans', sans-serif;
    color: dimgray;
}