*{
    margin: 0;
}
a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
.header-area{
    background-image: url(image/header-bg.png);
    height: 550px;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.header-text{
    width: 42%;
    float: left;
    padding: 2%;
    margin-left: 2%;
}
.header-img{
    width: 42%;
    float:left;
    padding: 2%;
    margin-left: 2%;
}
.header-img img{
    width: 600px;
}
.hello-part{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}
.name-part{
    font-family: 'Yellowtail', cursive;   
    font-size: 60px;
    font-weight: 500;
    color:#EC4C7A;
    margin-bottom: 40px;
}
.header-text p{
    font-family: 'PT Sans', sans-serif;
    color: dimgray;
    margin-bottom: 20px;
}
.header-btn{
    background-image: linear-gradient(50deg, #EC4C7A, #743547);
    padding: 10px 20px;
    border-radius: 4px;
}
.biography-area{
    background-image: url(image/biography-bg.png);
    background-repeat: no-repeat;
    height: 700px;
    background-size: 100%;
}
.biography-img img{
    width:100%;
}
.biography-img{
    width: 42%;
    float: left;
    padding: 2%;
    margin-left: 2%;
}
.biography-text{
    width: 42%;
    float: left;
    padding: 2%;
    margin-left: 2%;
    margin-top: 100px;
}
.biography-text h2{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
}
.biography-text p{
    font-family: 'PT Sans', sans-serif;
    color: dimgray;
    margin-bottom: 20px;
}
.biography-btn{
    background-image: linear-gradient(50deg, black, dimgray);
    padding: 10px 20px;
    border-radius: 5px;
}
.Portfolio-area{
    background-image: url(image/latest-work-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height: 450px;
    background-size: 100%;
}
.Portfolio-area h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
}
.Portfolio-img{
    margin-left: 125px;
}
.Portfolio-img img{
    width: 350px;
    height: 350px;
    float:left;
    padding: 10px;
}
.footer-area{
    text-align: center;
    background-image: url(image/footer-bg.png);
    background-repeat: no-repeat;
    height: 550px;
    background-position:left;
    background-size: 100%;
}
.footer-area h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    text-align: center;
}
.footer-area h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-area span{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-align: center;
    color: dimgray;
}
.footer-area p{
    font-family: 'PT Sans', sans-serif;
    width: 450px;
    margin: auto;
    font-weight: bold;
    margin-top: 40px;
}
.contect-part{
    width:550px;
    height: 120px;
    background-image: linear-gradient(45deg, fuchsia, #8f1a8f);
    margin: auto;
    border-radius: 5px;
}
.contect-part p{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
}
.contect-part h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 5px;
    margin-top: 20px;
}
.footer-p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 20px;
}